<app-header />
<div class="main-pokemon-detail">
    <div class="main-pokemon-content">
        <div class="pokemon-detail">
            <div class="header-container">
                <h2 class="pokemon-code">{{pokemon.id}}</h2>
                <h1 class="pokemon-name">{{pokemon.name}}</h1>
            </div>
            <div class="body-container">
                <div class="image-container">
                    <img [src]="pokemon.image" alt="Pokemon Image" class="main-image" />
                </div>
            </div>
        </div>
        <div class="characteristic-details-row row-1">
            <div class="pokemon-forms">
                <h1 class="title">Forms</h1>
                @defer(){
                @for(item of pokemon.forms; track item.id){
                <div class="list-ability">
                    <div class="desc-ability">
                        <img [src]="item.image" class="main-image" />
                    </div>
                </div>
                }
                }
            </div>
            <div class="pokemon-type">
                <h1 class="title">Types</h1>
                @defer(){
                @for(item of pokemon.types; track item.id){
                <div class="list-ability">
                    <div class="desc-ability">
                        <img [src]="item.image" class="main-image" />
                    </div>
                </div>
                }
                }
            </div>
        </div>
        <div class="characteristic-details-row row-2">
            <div class="pokemon-stats">
                <h1 class="title">Stats</h1>
                <div class="list-stats">
                    @defer(){
                    @for(item of pokemon.stats; track item.id){
                    <div class="hp-bar">
                        <h2>{{item.label}}:</h2>
                        @for(item of pokemon.countStars;){
                        <img src="/list-type/Normal-sm.svg" class="rate" />
                        }
                    </div>
                    }
                    }

                </div>
            </div>
        </div>
        <div class="characteristic-details-row row-3">
            <div class="pokemon-ability">
                <h1 class="title">Ability</h1>
                @defer(){
                @for(item of pokemon.abilities; track item.id){
                <div class="list-ability">
                    <div class="title-ability">
                        <span>{{item?.label?.name}}</span>
                    </div>
                    <div class="desc-ability">
                        {{item?.effect_entries?.effect}}
                    </div>
                </div>
                }
                }
            </div>
        </div>

    </div>
</div>