<app-header />
<div class="main-pokemon-detail">
    <div class="main-pokemon-content">
        <div class="pokemon-detail">
            <div class="header-container">
                <h2 class="pokemon-code">{{pokemon.id}}</h2>
                <h1 class="pokemon-name">{{pokemon.name}}</h1>
            </div>
            <div class="body-container">
                <div class="image-container">
                    <img [src]="pokemon.image" alt="Pokemon Image" class="main-image" />
                </div>
                <div class="list-type-pokemon">
                    @for(item of pokemon.types; track item.id){
                        <img [src]="item.sprites['generation-vi']['omega-ruby-alpha-sapphire']['name_icon']" class="type" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>