<mat-card appearance="outlined">
    <mat-card-content>
        <div class="header-card-content">
            <div class="types-pokemon">
                @for(item of pokemon.types; track item.id){
                <img [src]="item.sprites['generation-vi']['omega-ruby-alpha-sapphire']['name_icon']" class="type" />
                }
            </div>
            <button mat-button class="bookmark-btn">
                <img src="/Bookmark.svg" class="bookmark" />
            </button>
        </div>
        <div class="body-card-content">
            <div class="container-image">
                <img [src]="pokemon.image" alt="Main Image" class="main-image" />
            </div>
        </div>
        <div class="footer-card-content">
            <div class="pokemon-code-container">
                <h2 class="pokemon-code">{{pokemon.id }}</h2>
            </div>
            <div class="pokemon-name-container">
                <h1 class="pokemon-name">{{pokemon.name }}</h1>
            </div>
        </div>
        <img src="/pokeball.png" class="bg-image" />
    </mat-card-content>
</mat-card>