<mat-card appearance="outlined">
    <mat-card-content>
        <div class="header-card-content">
            <button mat-button>
                <img src="/list-type/Fire-sm.svg" class="type" />
            </button>
            <button mat-button>
                <img src="/Bookmark.svg" class="bookmark" />
            </button>
        </div>
        <div class="body-card-content">
            <div class="container-image">
                <img src="/pokemon/pokemon-bg-1.svg" alt="Main Image" class="main-image"/>
            </div>
        </div>
        <div class="footer-card-content">
            <div class="pokemon-code-container">
                <h2 class="pokemon-code">00001</h2>
            </div>
            <div class="pokemon-name-container">
                <h1 class="pokemon-name">Charizard</h1>
            </div>
        </div>
        <img src="/pokeball.png" class="bg-image" />
    </mat-card-content>
</mat-card>