<div class="banner">
    <div class="image-container banner-text-1">
        <img src="/banner-welcome-text-1.svg" alt="Welcome to Pokedex" />
    </div>
    <div class="image-container banner-text-2">
        <img src="/banner-welcome-text-2.svg" alt="Encyclopedia of Pokemon" />
    </div>
    <div class="list-pokemon">
        <div class="list-container fly-pokemon">
            <div class="image-container pokemon-fly-1">
                <img src="/pokemon/pokemon-fly-1.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-fly-2">
                <img src="/pokemon/pokemon-fly-2.svg" alt="Pokemon Image" />
            </div>
        </div>
        <div class="list-container bigger-pokemon">
            <div class="image-container pokemon-bg-1">
                <img src="/pokemon/pokemon-bg-1.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-bg-2">
                <img src="/pokemon/pokemon-bg-2.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-bg-3">
                <img src="/pokemon/pokemon-bg-3.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-bg-4">
                <img src="/pokemon/pokemon-bg-4.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-bg-5">
                <img src="/pokemon/pokemon-bg-5.svg" alt="Pokemon Image" />
            </div>
        </div>
        <div class="list-container small-pokemon">
            <div class="image-container pokemon-1">
                <img src="/pokemon/pokemon-1.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-2">
                <img src="/pokemon/pokemon-2.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-3">
                <img src="/pokemon/pokemon-3.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-4">
                <img src="/pokemon/pokemon-4.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-5">
                <img src="/pokemon/pokemon-5.svg" alt="Pokemon Image" />
            </div>
            <div class="image-container pokemon-6">
                <img src="/pokemon/pokemon-6.svg" alt="Pokemon Image" />
            </div>
        </div>
    </div>
</div>