<div class="field-search-container">
    <mat-card class="field-search" appearance="outlined">
        <mat-card-content>
            <div class="form-field">
                <mat-label>Filter Box</mat-label>
                <div class="form-field-button">
                    <form [formGroup]="filterForm">
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="pokemonType" placeholder="Filter by Pokemon Type">
                                @for (item of ddlPokemonType; track item.value) {
                                    <mat-option value="option1" >
                                        <img [src]="item.icon" alt="image-ddl" class="icon"/> {{item.label}}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </form>
                    <button mat-flat-button class="btn-find" (click)="onFilter()">Filter</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>