<div class="field-search-container">
    <mat-card class="field-search" appearance="outlined">
        <mat-card-content>
            <div class="form-field">
                <mat-label>Filter Box</mat-label>
                <div class="form-field-button">
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="option1">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> Option
                            </mat-option>
                            <mat-option value="option2">Option</mat-option>
                            <mat-option value="option3">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-flat-button class="btn-find">Filter</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>